.App {

}

.canvas-container {
  background: #fff;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

#canvas {
  cursor: crosshair;
}

.tools-container {
  position: fixed;
  right: 0;
  text-align: right;
  margin: 10px;
  width: 30px;
  z-index: 1001;
}

.tool {
  background: #272822;
  width: 30px;
  height: 30px;
  margin: 0 auto 3px auto;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
  color: #fff;
}

.tool:hover {
  background: #515151;
}

.tool-selected {
  background: #515151;
}

.tool-icon {

}